.show {
  opacity: 1;
  transition: all 1s ease-in-out;
}

.hide {
  opacity: 0;
  transition: all 1s ease-in-out;
}


.show2 {
  animation: show-item 1.3s ease-in forwards;
}

.hide2 {
  /* forwards 停留在最后一帧 */
  animation: hide-item 1.3s ease-in forwards;
}

@keyframes show-item {
  0% {
    color: red;
    opacity: 0;
  }
  50% {
    color: green;
    opacity: .5;
  }
  100% {
    color: blue;
    opacity: 1;
  }
}

@keyframes hide-item {
  0% {
    color: red;
    opacity: 1;
  }
  50% {
    color: green;
    opacity: .5;
  }
  100% {
    color: blue;
    opacity: 0;
  }
}
