@import './variables.less';

.logo {
  height: 60px;
  background-color: @colorR;
  > .logo-name {
    position: relative;
    top: 5px;
    display: inline-block;
    margin: 0;
    color: #fff;
    font-size: 22px;
  }
  > img {
    width: 60px;
    height: 60px;
  }
}

.header {
  background-color: @colorM
  .header-top {

  }

  .breadcrumb {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-top: 1px solid #f9c700;
  }
}
